/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILITIES */

.debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}

/* LAYOUT */

.page-header {
  min-height: 80;
  background-color: grey;
}
