/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */

/* .debug,
.debug > * {
  border: 3px dashed red;
  padding: 6px;
  min-height: 30px;
}
 */
/* LAYOUT */

.global-container {
  overflow: hidden;
  background-color: green;
  height: calc(100vh - 70px);
  display: flex;
}

.main-sidebar {
  overflow: hidden;
  background-color: aqua;
  width: 100px;
}

.main-list-chat {
  background-color: yellow;
  width: calc(100% - 100px);
  color: white;
  overflow: hidden;
}

/* FOOTER */

/* NAVBAR */
.footer-nav-bar {
  height: 80px;
  background-color: brown;
}

/* HEADER */

/* SIDEBAR */

/* NAVBAR */
