/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: inherit;
}

/* UTILITIES */

body {
  font-family: "DM Sans", sans-serif;
}

/* LAYOUT */

.global-container {
  overflow: hidden;
  background-color: #141318;
  height: calc(100vh - 75px);
  display: flex;
}

.main-sidebar {
  overflow: hidden;
  background-color: #141318;
  width: 80px;
}

.main-list-chat {
  margin-top: 8px;
  background-color: #1c1d22;
  width: calc(100% - 80px);
  color: white;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

/* SIDEBAR */
.sidebar-items {
  margin-top: 1rem;
}

.discord-server-item {
  width: 3.5rem;
  margin: 0 auto;
  padding: 6px 0;
  position: relative;
}

.server-cicle img {
  border-radius: 50%;
}

.current-server {
  position: absolute;
  top: 8px;
  left: -15px;
  width: 0.5rem;
  height: 3.4rem;
  border-radius: 10px;
  background-color: white;
}

.active {
  transition: transform 0.3s ease;
}

.discord-server-item:hover .sidebar-effect {
  position: absolute;
  top: 8px;
  left: -15px;
  width: 0.5rem;
  height: 3.4rem;
  border-radius: 10px;
  background-color: white;
}

.discord-server-item:hover .active {
  transform: scale(107%);
}

/* MAIN CONTENT */

.main-header-chat {
  padding: 30px 20px 0 30px;
}

.main-title {
  font-size: 25px;
}

/* BUTTONS */
.main-buttons {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.main-btn {
  background-color: #373a43;
  font-size: 16px;
  cursor: pointer;
}

.search-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.add-friend-btn {
  width: calc(100% - 50px);
  border-radius: 25px;
}

/* CONTACT */
.contacts-list {
  flex-grow: 1;
  overflow: auto;
}

.contact-card {
  margin: 5px 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.contact-image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile-info span {
  font-weight: bold;
  font-size: 16px;
}

.profile-info p {
  font-size: 0.8rem;
}

.time-message {
  font-size: 0.8rem;
}

/* CIRCLE PROFILE STATUS */
.status-image {
  position: relative;
}

.profile-status {
  position: absolute;
  bottom: 7px;
  left: 38px;
  translate: -50% 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #1c1d22;
}

.not-disturb-status {
  background-color: #f94349;
}

.inactive-status {
  background-color: #f4a71b;
}

.available-status {
  background-color: #39a65d;
}

/* OPACITY AND HOVER EFFECT */
.contact-card .profile-info,
.contact-card .time-message {
  opacity: 0.5;
}

.contact-card:hover {
  background-color: #26262e;
  border-radius: 15px;
}

.contact-card:hover .profile-status {
  border: 5px solid #26262e;
}

.contact-card:hover .profile-info,
.contact-card:hover .time-message {
  opacity: 1;
}

/* NEW CHAT BUTTON */
.new-chat-btn {
  position: fixed;
  bottom: 85px;
  right: 30px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #5865f2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.new-chat-btn button {
  font-size: 1.1rem;
}

/* NAVBAR */
.footer-nav-bar {
  height: 75px;
  background-color: #2d2d35;
  color: white;
}

.nav-menu-footer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.me-profile-image {
  margin: 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.nav-menu-item {
  text-align: center;
  padding: 0 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  font-size: 1.5rem;
}

.nav-text {
  padding-top: 2px;
  font-size: 0.7rem;
}
